@import "base.css";
body {
    background: #233067;
    color: #FEFB64;
    font: 400 24px/1.0 'Rancho', Helvetica, Sans-serif;
    height: 100%;
}
/* line 58, ../sass/screen.scss */
.wrapper {
    width: 600px;
    margin: 20px auto -50px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
/* line 66, ../sass/screen.scss */
.wrapper header .header-logo img {
    width: 100%;
}
/* line 72, ../sass/screen.scss */
.wrapper .content .options {
    text-align: center;
    height: 42px;
    padding: 20px 0 0 0;
}
/* line 76, ../sass/screen.scss */
.wrapper .content .options .hint {
    width: 10%;
    float: left;
    position: relative;
}
/* line 80, ../sass/screen.scss */
.wrapper .content .options .hint .circle {
    border-radius: 50%/50%;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #000000;
    margin: 0 auto;
    cursor: pointer;
}
/* line 89, ../sass/screen.scss */
.wrapper .content .options .hint .red-circle {
    border-radius: 50%/50%;
    width: 20px;
    height: 20px;
    background: #ff0000;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 0 auto;
    cursor: pointer;
    left: 35px;
    position: absolute;
    top: -5px;
    display: table;
}
/* line 102, ../sass/screen.scss */
.wrapper .content .options .hint .red-circle .notification {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}
/* line 108, ../sass/screen.scss */
.wrapper .content .options .hint #skip, .wrapper .content .options .hint #get-help {
    color: #000000;
    text-decoration: none;
    display: table;
    height: 42px;
}
/* line 113, ../sass/screen.scss */
.wrapper .content .options .hint #skip .icon-text, .wrapper .content .options .hint #get-help .icon-text {
    display: table-cell;
    vertical-align: middle;
}
/* line 118, ../sass/screen.scss */
.wrapper .content .options .hint #back-link {
    background: url("../images/arrow-back-128.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 122, ../sass/screen.scss */
.wrapper .content .options .hint #play-music {
    background: url("../images/gclef.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 126, ../sass/screen.scss */
.wrapper .content .options .hint #get-help {
    background: url("../images/trash-512.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 130, ../sass/screen.scss */
.wrapper .content .options .hint #skip {
    background: url("../images/skipforward-200.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 136, ../sass/screen.scss */
.wrapper .content .options .hint #back-link-tuts {
    background: url("../images/arrow-back-128.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 140, ../sass/screen.scss */
.wrapper .content .options .hint #play-music-tuts {
    background: url("../images/gclef.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 144, ../sass/screen.scss */
.wrapper .content .options .hint #get-help-tuts {
    background: url("../images/trash-512.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 148, ../sass/screen.scss */
.wrapper .content .options .hint #skip-tuts {
    background: url("../img/skipforward-200.png") center no-repeat #ffffff;
    background-size: contain;
}
/* line 155, ../sass/screen.scss */
.wrapper .content .options .timer {
    width: 60%;
    float: left;
    padding: 8px 0 0 0;
    font-size: 30px;
}
/* line 161, ../sass/screen.scss */
.wrapper .content .options a {
    color: #000000;
    text-decoration: none;
    height: 12px;
}
/* line 168, ../sass/screen.scss */
.wrapper .content h2.intro {
    text-align: center;
    color: white;
}
/* line 172, ../sass/screen.scss */
.wrapper .content .questions {
    text-align: center;
}
/* line 174, ../sass/screen.scss */
.wrapper .content .questions p {
    color: #FEFB64;
    line-height: 1.25;
    font-size: 26px;
    margin: 12px 0 8px 0;
}
/* line 180, ../sass/screen.scss */
.wrapper .content .questions .author {
    width: 85%;
    text-align: right;
}
/* line 185, ../sass/screen.scss */
.wrapper .content .answers {
    text-align: center;
}
/* line 187, ../sass/screen.scss */
.wrapper .content .answers .choose-answers {
    margin: 10px 0;
}
/* line 189, ../sass/screen.scss */
.wrapper .content .answers .choose-answers a.answer {
    color: black;
    background: white;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    margin: 8px 20px;
    cursor: pointer;
}
/* line 196, ../sass/screen.scss */
.wrapper .content .answers .choose-answers a.answer:hover {
    background: #f9f7f7;
    border: 2px solid #FFA834;
}
/* line 203, ../sass/screen.scss */
.wrapper .content .login .social-login-links {
    margin: 10px 0;
    padding: 30px 0;
}
/* line 205, ../sass/screen.scss */
.wrapper .content .login .social-login-links a.social-login {
    background: #0C59CF;
    color: white;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    width: 264px;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
}
/* line 218, ../sass/screen.scss */
.wrapper .content .login .social-login-links a.social-login:hover {
    border: 2px solid #FFA834;
}
/* line 223, ../sass/screen.scss */
.wrapper .content .screens {
    display: table;
    margin: 0 auto;
}
/* line 226, ../sass/screen.scss */
.wrapper .content .screens .screen-1, .wrapper .content .screens .screen-2, .wrapper .content .screens .screen-3 {
    display: inline-table;
}
/* line 228, ../sass/screen.scss */
.wrapper .content .screens .screen-1 img, .wrapper .content .screens .screen-2 img, .wrapper .content .screens .screen-3 img {
    border: 1px solid #FEFB64;
    border-radius: 5px;
    margin: 10px;
    width: 175px;
    height: 195px;
}
/* line 239, ../sass/screen.scss */
.wrapper .content .categories .choose-categories {
    margin: 10px 0;
    padding: 30px 0;
    text-align: center;
}
/* line 242, ../sass/screen.scss */
.wrapper .content .categories .choose-categories a.category {
    color: black;
    background: white;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    display: inline-table;
    width: 105px;
    height: 105px;
    margin: 40px 30px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
/* line 252, ../sass/screen.scss */
.wrapper .content .categories .choose-categories a.category:hover {
    background: #F4EB49;
    border: 2px solid #ffffff;
}
/* line 261, ../sass/screen.scss */
.wrapper .content .rates .top-players li.player {
    list-style-type: none;
    display: block;
    vertical-align: middle;
    width: 400px;
}
/* line 267, ../sass/screen.scss */
.wrapper .content .rates .top-players li.player .profile-picture img {
    width: 50px;
    height: 50px;
}
/* line 275, ../sass/screen.scss */
.wrapper .content .levels {
    border: 1px solid #FEFB64;
    border-radius: 5px;
    background: #425169 url("../images/stars2.jpg") top center;
    background-size: cover;
    width: 590px;
    height: 590px;
    margin: 10px auto;
    padding: 10px 0 0 5px;
}
/* line 284, ../sass/screen.scss */
.wrapper .content .levels #view-more {
    padding: 10px 20px;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
/* line 291, ../sass/screen.scss */
.wrapper .content .levels #view-more a {
    margin: 10px 10px;
    color: #FEFB64;
}
/* line 295, ../sass/screen.scss */
.wrapper .content .levels #view-more a:hover {
    text-decoration: none;
    color: #ffffff;
}
/* line 299, ../sass/screen.scss */
.wrapper .content .levels .level {
    display: table;
    width: 200px;
    margin: 10px auto;
}
/* line 303, ../sass/screen.scss */
.wrapper .content .levels .level .level-number {
    border-radius: 50%/50%;
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
/* line 314, ../sass/screen.scss */
.wrapper .content .levels .level .level-stars {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
/* line 320, ../sass/screen.scss */
.wrapper .content .levels .level-number.green  {
    background: #3DCC01;
    color: #ffffff;
}
/* line 329, ../sass/screen.scss */
.wrapper .content .progress .bar {
    width: 580px;
    left: calc(50% - 288px);
    padding: 0;
    margin: 20px auto 10px;
}
/* line 334, ../sass/screen.scss */
.wrapper .content .progress .bar #progress-bar {
    width: 540px;
    color: #000;
    background: #3DCC01;
    height: 10px;
    margin: 0 auto;
}
/* line 341, ../sass/screen.scss */
.wrapper .content .progress .bar span {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 10px solid #ffffff;
    background: #ffffff;
    top: -22px;
    font-size: 3px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
/* line 353, ../sass/screen.scss */
.wrapper .content .progress .bar p {
    font-size: 14pt;
    text-shadow: 1px 1px 0px #000;
    color: #fff;
    text-align: center;
}
/* line 359, ../sass/screen.scss */
.wrapper .content .progress .bar .zero {
    left: 0;
}
/* line 362, ../sass/screen.scss */
.wrapper .content .progress .bar .first {
    left: 15%;
}
/* line 365, ../sass/screen.scss */
.wrapper .content .progress .bar .second {
    left: 30%;
}
/* line 368, ../sass/screen.scss */
.wrapper .content .progress .bar .third {
    left: 45%;
}
/* line 371, ../sass/screen.scss */
.wrapper .content .progress .bar .fourth {
    left: 60%;
}
/* line 374, ../sass/screen.scss */
.wrapper .content .progress .bar .fifth {
    left: 75%;
}
/* line 377, ../sass/screen.scss */
.wrapper .content .progress .bar #progress-bar::-webkit-progress-value {
    /* Changes line color */
    background: #3DCC01;
    transition: all 0.4s ease-in-out;
}
/* line 381, ../sass/screen.scss */
.wrapper .content .progress .bar #progress-bar::-webkit-progress-bar {
    /* Changes background color */
    background: #137CC0;
}
/* line 384, ../sass/screen.scss */
.wrapper .content .progress .bar .border-change {
    border-color: #ffffff;
    transition: all 0.4s ease-in-out;
}

/* line 393, ../sass/screen.scss */
footer, .push {
    height: 50px;
}

/* line 396, ../sass/screen.scss */
footer {
    position: relative;
}
/* line 398, ../sass/screen.scss */
footer .copyright {
    text-align: center;
}

/* Time is over Modal Window */
/* line 406, ../sass/screen.scss */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
/* line 419, ../sass/screen.scss */
.time-popup {
    display: none;
    background: #B70F0A;
    padding: 5px;
    border: 2px solid #ddd;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 295px;
    z-index: 99999;
    /* Safari, Chrome */
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    /* Firefox */
-webkit-border-radius: 4px;
/* Safari, Chrome */
}
/* line 437, ../sass/screen.scss */
.time-popup span {
display: block;
color: #ffffff;
}

h2#wrongAnswer, h2#timeOver {
    display: none;
}
/* line 443, ../sass/screen.scss */
fieldset {
border: none;
text-align: center;
}

/* line 447, ../sass/screen.scss */
.decision {
background: #dddddd;
border-color: #000;
border-width: 1px;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
color: #333;
cursor: pointer;
display: inline-block;
padding: 6px 6px 4px;
margin: 10px 6px 0 6px;
width: 95px;
}

/* line 461, ../sass/screen.scss */
.decision:hover {
background: #dcdcdc;
}

/*************** Tooltips *******************/
/* line 468, ../sass/screen.scss */
.tooltip-A, .tooltip-B,
.tooltip-C, .tooltip-D,
.tooltip-E, .tooltip-F,
.tooltip-G {
display: inline;
position: relative;
}

/* A */
/* line 476, ../sass/screen.scss */
.tooltip-C:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 110px;
bottom: -40px;
left: 105px;
}

/* line 482, ../sass/screen.scss */
.tooltip-C:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-bottom: 6px solid #ff0000;
bottom: 2px;
right: 160px;
}

/* B */
/* line 491, ../sass/screen.scss */
.tooltip-D:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 110px;
bottom: 52px;
right: -22px;
}

/* line 497, ../sass/screen.scss */
.tooltip-D:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border-width: 6px 6px 0 6px;
bottom: 4px;
right: 0px;
}

/* C */
/* line 505, ../sass/screen.scss */
.tooltip-A:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 110px;
top: 4px;
left: -15px;
}

/* line 511, ../sass/screen.scss */
.tooltip-A:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-bottom: 6px solid #ff0000;
left: -5px;
top: 34px;
}

/* D */
/* line 520, ../sass/screen.scss */
.tooltip-B:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 115px;
bottom: 50px;
left: -20px;
}

/* line 526, ../sass/screen.scss */
.tooltip-B:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border-width: 6px 6px 0 6px;
left: 51%;
bottom: 2px;
}

/* E */
/* line 534, ../sass/screen.scss */
.tooltip-E:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 140px;
top: 5px;
right: -20px;
}

/* line 540, ../sass/screen.scss */
.tooltip-E:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-bottom: 6px solid #ff0000;
left: -5px;
top: 35px;
}

/* F */
/* line 549, ../sass/screen.scss */
.tooltip-F:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 130px;
bottom: 26px;
left: 250px;
}

/* line 555, ../sass/screen.scss */
.tooltip-F:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-right: 6px solid #ff0000;
left: 97%;
bottom: 45px;
}

/* G */
/* line 564, ../sass/screen.scss */
.tooltip-G:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
width: 120px;
bottom: 122px;
left: 15px;
}

/* line 576, ../sass/screen.scss */
.tooltip-G:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border-width: 6px 6px 0 6px;
left: 135px;
top: 26px;
}

/*  H  */
/* line 588, ../sass/screen.scss */
.tooltip-H:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 100px;
bottom: 70px;
right: 35%;
}

/* line 594, ../sass/screen.scss */
.tooltip-H:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-bottom: 6px solid #ff0000;
left: 60%;
bottom: 112px;
}

/*  I   */
/* line 603, ../sass/screen.scss */
.tooltip-I:after {
background: red;
border-radius: 5px;
color: #fff;
content: attr(title);
padding: 10px 15px;
position: absolute;
z-index: 98;
font-size: 22px;
width: 140px;
bottom: 55px;
right: 54%;
}

/* line 609, ../sass/screen.scss */
.tooltip-I:before {
border: solid;
border-color: #ff0000 transparent;
content: "";
position: absolute;
z-index: 99;
border: 6px solid transparent;
border-left: 6px solid #ff0000;
left: 46%;
bottom: 66px;
}
.disabled {
background-color : #A8A8A8 !important;
color:#FFFFFF !important;
border-color:#9ACD32 !important;
pointer-events: none !important;
}